/node_modules
/public/hot
/public/storage
/vendor
frontend/vue.config.js
resources/views/spa.blade.php
.env
laravel-echo-server.json
laravel-echo-server.lock
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
